@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto Serif', serif;
    font-weight: 700; 
}

header {
  background-color: #252525;
  display: flex;
  justify-content: center;
  height: 9.1vh;
  width: 100%;
}

.sectiondaheader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 3.8rem;
  margin-right: 3.8rem;
}
.patinhadedog {
  height: 5vh;
  width: 30%;
}
.divdaheader {
  display: flex;
  color: white;
  justify-content: space-between;
  width: 10%;
  align-items: center;
}

.navdasredes {
  display: flex;
  width: 9%;
  justify-content: space-between;
}
ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#instagram {
  height: 4vh;
  width: 100%;
}
#youtube {
  height: 4vh;
  width: 100%;
}
#whatsapp {
  height: 4vh;
  width: 100%;
}

.sectionbackground1 {
  background-image: url("./doguinhofesteiro.png");
  height: 150vh;
  width: 100%;
  background-size: 100% 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divbackground1 {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  position: relative;
  bottom: 15%;
  height: 50vh;
}

h1 {
  text-align: center;
  font-size: 3.8rem;
  width: 38vw;
}

#patinhadomeio {
  width: 11vw;
}

.sectionbackground2 {
  background-image: url("./doguinhodetouca.png");
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textosp{
  font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
table tr td{
  font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


.divbackground2 {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  height: 70vh;
  margin-left: 8%;
}

.sectionbackground2 .divbackground2 h2 {
  font-size: 3rem;
  width: 35%;
}

.sectionbackground2 .divbackground2 p {
  font-size: 2rem;
  width: 35%;
  font-weight: Normal;
}
.botao {
  border-radius: 40px;
  cursor: pointer;
  background-color: #3a342f;
  border: none;
  color: white;
  width: 15vw;
  height: 10vh;
  font-size: 1.5rem;
  font-weight: bold;
}
.sectionbackground3 {
  background-image: url("./dogpreto2.png");
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divbackground3 {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  height: 70vh;
  margin-left: 54%;
}
.h2background3 {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  width: 42%;
}
.pbackground3 {
  color: white;
  font-size: 1.9rem;
  width: 54%;
}
.botao2 {
  border-radius: 40px;
  cursor: pointer;
  background-color: white;
  border: none;
  color: black;
  width: 15vw;
  height: 10vh;
  font-size: 1.5rem;
  font-weight: bold;
}

/*--------*/
.sectionbackground4 {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.h4patrocinadores {
  font-size: 3rem;
  font-style: italic;
  color: #fd6a9a;
}
.sectionbackground4 .img img {
  width: 10vw;
  height: 22px;
  /* border: solid black; */
}
.img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30vw;
  height: 13px;
  /* border: solid red; */
}
.atendimento {
  background-color: #fd6a9a;
  font-weight: bold;
  color: white;
  width: 20%;
  height: 15vh;
}
.sobre {
  background-color: #fd6a9a;
  font-weight: bold;
  color: white;
  width: 20%;
  height: 15vh;
}
.unidades {
  background-color: #fd6a9a;
  font-weight: bold;
  color: white;
  width: 20%;
  height: 15vh;
}
.uldoatendimento {
  font-size: 1rem;
  align-items columns: ;
}
.topicofooter {
  margin-bottom: 40px;
  font-size: 30px;
}
.componentesfooter{
  width: 20%;
  color: white;
  
 }

.footer {
  background-color: #EB4A7B;
  width: 100%;
  display: flex;
 padding: 150px;

}
table {
  font-family:'Roboto', sans-serif;
  font-weight: normal;
}
